.centered-block {
    text-align: center;
}

.screen-centered-block-outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.screen-centered-block-inner {
    display: table-cell;
    vertical-align: middle;
}

.row-block {
    display: flex;
}

.row-block-element {
    width: 100%;
}

.bold-element {
    font-weight: bold;
}

.inline-element {
    display: inline-block;
}

#favourite-icon {
    width: 25%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
}
